# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment files
.env
*.env

# MacOS metadata
.DS_Store

# Logs and reports
*.log
report.json
reports/
public/
test-results/

# Database
*.db
instance/
